<ion-content class="has-header">
   <div class="page-transfer-confirm">
   <div class="container">
      <div class="content double-padding">
         <h2 class="text-center">Confirm Transaction</h2>

         <h4 ng-show="$ctrl.aliasAddress" class="nem-color">To</h4>
         <p><span ng-hide="!$ctrl.aliasAddress">{{$ctrl.aliasAddress}}</span></p>
         <p class="text-muted">
            {{$ctrl.formData.recipient}}
         </p>

         <h4 class="nem-color">Amount</h4>
         <p>{{$ctrl.formData.amount}} {{$ctrl.unit}}</p>
         <h4 class="nem-color">Fee</h4>
            <p class="text-muted">
            <span class="margin-right-10">
               <!-- Multisig fee  -->
               <span ng-show="$ctrl.formData.isMultisig">{{($ctrl.formData.innerFee | fmtNemValue)[0]}}.{{($ctrl.formData.innerFee | fmtNemValue)[1]}} + 
               </span> 
               <!-- Transaction fee -->
               <span class="color-black">{{($ctrl.formData.fee | fmtNemValue)[0]}}.{{($ctrl.formData.fee | fmtNemValue)[1]}}  <span style="color: #fff">XEM</span> <span ng-show="$ctrl.formData.encryptMessage">(+ encryption fees)</span></span>
            </span>
         </p>
         <div ng-show="$ctrl.formData.message">
         <h4 class="nem-color">Message</h4>
         <p class="text-muted">
            {{$ctrl.formData.message}}
         </p>
         </div>
         <!-- Password Field -->


         <h5 class="nem-color text-center">Enter your password to confirm transaction </h5>
         
        <!-- Send button disabled if already pressed or no password or no clean recipient address or message is supposed to be encrypted but no recipient public key or is a mosaic transfer and no mosaics in array -->

         <input class="item item-input item-floating-label full-width form-control-lg" type="password" placeholder="{{ 'FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}" ng-model="$ctrl.common.password" />
         <div class="gap">
            <a class="button button-block button-nem ink" type="submit" ng-disabled="$ctrl.okPressed || !$ctrl.common.password.length || $ctrl.formData.recipient.length !== 40 || $ctrl.formData.encryptMessage && $ctrl.formData.recipientPubKey.length !== 64 || $ctrl.formData.isMosaicTransfer && !$ctrl.formData.mosaics.length" ng-click="$ctrl.send()">
            <i class="fa fa-send"></i> CONFIRM
            </a>
         </div>
      </div>
   </div>
</ion-content>
<div class="fixed-bottom-button"></div>
