<ion-content scroll="false">
   <div class="login-page text-center" style="background-image: url('images/bg-blue.jpg'); background-size: cover;">
      <div class="hero no-header flat">
         <div class="content">
            <img class="logo" src="images/logo.png"/>
         </div>
      </div>
      <div class="list">

         <label class="item item-input item-md-label" type="text">
            <select selectclick ng-model="$ctrl.selectedWallet" ng-options="wallet.name group by (wallet.accounts[0].network | toNetworkName) for wallet in $ctrl._storage.wallets">
               <option value="" disabled selected>{{ 'LOGIN_SELECT_WALLET' | translate }}</option>
            </select>
         </label>

         <label class="item item-input item-md-label" placeholder="Wallet Password" highlight-color="energized" type="password">
            <input type="password" ng-model="$ctrl.common.password" placeholder="Wallet Password"  ng-keypress="$ctrl.onEnter($event)"/>
            <div class="highlight highlight-energized"></div>
         </label>
      </div>
      <div style="padding: 12px;">
         <button class="button button-block button-light waves-effect waves-button waves-light"
            type="submit" ng-click="$ctrl.login($ctrl.selectedWallet)" ng-disabled="!$ctrl.selectedWallet" style="border-radius: 0px;">
         {{ 'LOGIN_LOGIN_BUTTON' | translate }}
         </button>
      </div>
      <div class="padding">
         <div class="fileUpload button button-small" style="background-color: transparent; color: #fff;">
            <span>{{ 'LOGIN_IMPORT_BUTTON' | translate }}</span>
            <input type="file" accept="*/*" class="upload" multiple='multiple' read-wallet-files="$ctrl.loadWallet($fileContent, $isNCC)" />
         </div>
         <a id="downloadWallet" style="visibility:hidden" target="_blank"></a>
      </div>
   </div>
</ion-content>