<ion-content class="has-header">
    <div class="transactions-page">
        <div class="content double-padding">

            <table class="table">
                <tbody>
                <div ng-show="$ctrl.tabConfirmed">
                    <div ng-repeat="tx in $ctrl._DataBridge.transactions | orderBy:'-transaction.timeStamp'">
                        <!-- Only if is a XEM or Mosaic transacton -->
                        <nempay-transaction ng-if="tx.transaction.type == 257" d="tx" z="$ctrl._Wallet.currentAccount.address" h="$ctrl._DataBridge" tooltip-position="'left'"></nempay-transaction>
                    </div>
                </div>
                </tbody>
            </table>

            <div class="panel-body" ng-show="$ctrl._DataBridge.transactions.length == 0 && $ctrl.tabConfirmed">
                <p>{{ 'GENERAL_NO_RESULTS' | translate }}</p>
            </div>

        </div>
    </div>
    </div>
</ion-content>