<ion-content class="has-header">
    <div class="page-transfer">
        <div class="container">
            <div class="content double-padding">
                <form>
                    <div class="list">
                        <!--  recipient address -->
                        <div>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">To</span>
                                <input type="text" placeholder="{{'FORM_RECIPIENT_PLACEHOLDER' | translate}}" ng-model="$ctrl.formData.rawRecipient" ng-model-options="{debounce:3000}" ng-change="$ctrl.processRecipientInput()"/>
                            </label>
                            <label class="item item-input item-floating-label" ng-show="$ctrl.showAlias" class="gap">
                                <input type="text" placeholder="Alias" type="text" ng-model="$ctrl.aliasAddress" readOnly/>
                            </label>
                        </div>
                        <!-- Amount of XEM to send -->
                        <div class="gap">
                            <div style="width: 49%; float: left;margin-right: 1%;">
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Amount</span>
                                    <input type="text" placeholder="Amount" type="number" ng-model="$ctrl.formData.amount" min="0" ng-disabled="$ctrl.formData.isMosaicTransfer">
                                </label>
                            </div>
                            <div style="width: 49%; float: left; margin-left: 1%; margin-top: 30px;">
                                <div>
                                    <label class="item item-input item-select">
                                        <div class="input-label">
                                            <!--Currency-->
                                        </div>
                                        <select selectclick ng-options="mos for mos in $ctrl.currentAccountMosaicNames" ng-model="$ctrl.selectedMosaic" ng-change="$ctrl.updateMosaicUnitToTransfer();"></select>
                                    </label>
                                </div>
                            </div>
                            <!-- Message Field -->
                        </div>
                        <div class="gap">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Message</span>
                                <textarea rows="5" type="text" ng-model="$ctrl.formData.message" placeholder="{{'FORM_MESSAGE_PLACEHOLDER' | translate}}"></textarea>
                            </label>
                        </div>
                        <div class="gap">

                            <a ng-click="$ctrl.moveToTransferConfirm()" class="button button-block button-positive button-nem ink" type="submit" ng-disabled="$ctrl.okPressed || $ctrl.formData.recipient.length !== 40 || $ctrl.formData.encryptMessage && $ctrl.formData.recipientPubKey.length !== 64 || $ctrl.formData.isMosaicTransfer && !$ctrl.formData.mosaics.length || $ctrl.formData.amount == 0">
                                CONTINUE
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>