<table id="txTable" class="table table-bordered table-hover transaction-row"
       title="{{ 'TRANSFER_TRANSACTION_NAME' | translate }}" ng-click="displayTransactionDetails(parent, tx, meta)">
    <tbody style="outline:0;">
    <tr data-toggle="collapse" data-target="#table{{number}}" style="outline:0">
        <td>
            <div ng-class="{'send-card': tx.recipient !== mainAccount && !parent}" class="transition-card">


         <span ng-show="tx.mosaics.length">
            <span ng-repeat="mos in tx.mosaics">
               <span>
                  <h2>{{(mos.quantity | fmtSupply:mos.mosaicId:mosaicDefinitionMetaDataPair)[0]}}</h2>
                   <span class="text-lowercase mosaic-name">{{mos.mosaicId.name}}</span>
               </span>
            </span>
             <span class="pull-right" ng-show="tx.mosaics.length">
                  {{tx.timeStamp | fmtNemPayDate}}
                  <span ng-repeat="sig in parent.signatures">
                     <span>{{sig.timeStamp |  fmtNemPayDate}}</span>
                  </span>
             </span>
         </span>
            </div>
            <div ng-class="{'send-card': tx.recipient !== mainAccount && !parent}" class="transition-card">
            <span ng-hide="tx.mosaics.length">
                  <h2>{{(tx.amount) /1000000}}</h2>
                  <span class="text-lowercase mosaic-name"> xem</span>
               <span class="pull-right">
                  {{tx.timeStamp | fmtNemPayDate}}
                  <span ng-repeat="sig in parent.signatures">
                     <span>{{sig.timeStamp |  fmtNemPayDate}}klf</span>
                  </span>
               </span>
            </span>
            </div>
            <div ng-show="(tx.recipient !== mainAccount && !parent) || (parent.otherTrans.recipient !== mainAccount && parent)">
                <small class="address">
                    <div class="text">
                        <span>{{ 'GENERAL_FEE' | translate }}: </span>
                        <span ng-show="!parent">
                            <span>{{(tx.fee)/1000000}}</span>
                        </span>
                        <span ng-show="parent">
                            <span>{{(tx.fee + parent.fee)/1000000}}</span>
                        </span>
                        <span class="text-lowercase mosaic-name"> xem</span>

                        <span ng-show="tx.mosaics.length">
                            <span ng-repeat="mos in tx.mosaics">
                                <tag-levy mos="mos" tx="tx" mosaics="mosaicDefinitionMetaDataPair">
                                    <div ng-show="levy.type">
                                        <span>{{ 'FORM_SIDE_BTN_LEVY_FEE' | translate }}: </span>
                                        {{mos | fmtLevyFee:tx.amount:levy:mosaics}} <span class="text-lowercase mosaic-name"> {{levy.mosaicId.name}}</span>
                                    </div>
                                </tag-levy>
                            </span>
                        </span>
                    </div>
                </small>
            </div>
            <div>
                <small class="address" ng-show="tx.recipient !== mainAccount && !parent"> <div class="text"><b>To:</b> <span
                        ng-bind-html='tx.recipient'></span></div></small>
                <small class="selectable address" ng-show="tx.recipient === mainAccount && !parent"><div
                        class="text"><b>{{ 'LINE_TX_DETAILS_FROM' | translate }}:</b>  <span
                        ng-bind-html='tx.signer | fmtPubToAddress:networkId'></span></div></small>
            </div>
            <div>
                <span class="transaction-message" ng-show="tx.message.type === 1">{{tx.message | fmtHexMessage}}</span>
                <span ng-show="tx.message.type === 2" id="line-{{tx.timeStamp}}">
               {{ 'LINE_TX_DETAILS_MESS_ENC' | translate }}
               <div ng-show="!requiresKey">
                  {{decoded | fmtHexMessage}}
               </div>
            </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>