<table id="txTable" class="table table-bordered table-hover" title="{{ 'TRANSFER_TRANSACTION_NAME' | translate }}" style="cursor:pointer;outline:0;margin-bottom:0;table-layout:fixed;min-height: 48px; margin: 16px; width: 100%;" ng-click="displayTransactionDetails(parent, tx, meta)">
    <tbody style="outline:0;">
        <tr data-toggle="collapse" data-target="#table{{number}}" style="outline:0">
            <td style="width: 100%; padding-right: 54px; padding-left:30px;">
                <span ng-show="tx.mosaics.length">
            <span ng-repeat="mos in tx.mosaics">
                <span><h2>{{(mos.quantity | fmtSupply:mos.mosaicId:mosaicDefinitionMetaDataPair)[0]}}</h2> <span class="text-lowercase" style="font-weight: 200; font-size: 18px;">{{mos.mosaicId.name}}</span></span>
            </span>
                </span>
                <div ng-class="{'send-card': tx.recipient !== mainAccount && !parent}">
                <span ng-hide="tx.mosaics.length">
                    <span ng-show="!parent">
                        <span ng-show="tx.recipient !== mainAccount">
                           <h2>{{((tx.amount+tx.fee) | fmtNemValue)[0]}}.<span class="text-muted">{{((tx.amount+tx.fee) | fmtNemValue)[1]}}</span></h2>
                        </span>
                        <span ng-show="tx.recipient === mainAccount">
                            <h2>{{((tx.amount) | fmtNemValue)[0]}}.<span class="text-muted">{{((tx.amount) | fmtNemValue)[1]}}</span></h2>
                        </span>
                        <span class="text-lowercase" style="font-weight: 200; font-size: 18px;"> xem</span>
                    </span>
                    <span ng-show="parent">
                        <span ng-show="parent.otherTrans.recipient !== mainAccount">
                           <h2> {{((tx.amount+tx.fee+parent.fee) | fmtNemValue)[0]}}.<span class="text-muted">{{((tx.amount+tx.fee+parent.fee) | fmtNemValue)[1]}}</span></h2>
                        </span>
                        <span ng-show="parent.otherTrans.recipient === mainAccount">
                            <h2>{{((tx.amount) | fmtNemValue)[0]}}.<span class="text-muted">{{((tx.amount) | fmtNemValue)[1]}}</span></h2>
                        </span>
                        <span class="text-lowercase" style="font-weight: 200; font-size: 18px;"> xem</span>
                    </span>
                    <span class="pull-right">
                    {{tx.timeStamp | fmtNemPayDate}}
                        <span ng-repeat="sig in parent.signatures">
                              <span>{{sig.timeStamp |  fmtNemDate}}</span>
                        </span>
                    </span>
                    </div>
                    <div>

                                <small style="overflow:hidden;text-overflow: ellipsis; white-space: nowrap;" ng-show="tx.recipient !== mainAccount && !parent"> <b>To:</b> {{tx.recipient | fmtAddress}}</small>
            <small style="overflow:hidden;text-overflow: ellipsis;  white-space: nowrap;" ng-show="tx.recipient === mainAccount && !parent && !parent"><b>From:</b> {{tx.signer | fmtPubToAddress:networkId | fmtAddress}}</span></small>

                    </div>
                </span>
            </td>
            <!--<td ng-show="!tx.message.type"></td>
            <td style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" ng-show="tx.message.type === 1">{{tx.message | fmtHexMessage}}</td>
            <td ng-show="tx.message.type === 2" id="line-{{tx.timeStamp}}">{{ 'LINE_TX_DETAILS_MESS_ENC' | translate }}
                <div ng-show="!requiresKey">
                    {{decoded | fmtHexMessage}}
                </div>
            </td>-->
            <td></td>
        </tr>
    </tbody>
</table>

