html {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto';
  z-index: -1; }

/* GENERAL */
* {
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }

hr {
  border-color: #444; }

h2 {
  margin-top: 0px; }

.color-black {
  color: #000; }

.border-radius-none {
  border-radius: 0px; }

.popover {
  height: 210px; }

.nem-color {
  color: #434F66; }

.item-select select {
  max-width: 100% !important;
  padding: 0px 48px 0px 0px !important; }

.button.button-outline-light {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff; }

.button.button-outline-light:hover {
  color: #fff; }

.button.button-nem {
  background-color: #434F66;
  color: #fff; }

.alert {
  padding: 15px; }

.highlight-nem {
  background-color: #434F66; }

.bar-nem {
  border-color: #434F66;
  background-color: #434F66;
  background-image: linear-gradient(0deg, #273238, #273238 50%, transparent 50%);
  color: #fff; }

.bar-nem.long {
  height: 150px !important; }

.buttons-left button {
  top: 5px; }

/* SPACING */
.has-header.initial {
  top: 150px !important; }

.page-top-gap {
  margin-top: 20px; }

.small-padding {
  padding: 5px 12px 5px 12px; }

.margin-right-10 {
  margin-right: 10px; }

.gap {
  margin-top: 20px; }

.ion-navicon:before {
  content: "\f2ca" !important; }

/* ALERTS */
.ng-toast.ng-toast--right .ng-toast__list {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  margin-right: auto !important;
  padding-right: 30px;
  padding-left: 30px;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  text-align: center !important; }

.alert {
  text-align: center !important; }

.alert-success {
  width: 100%;
  color: #0c0c0c;
  border-radius: 4px !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important; }

.alert-danger {
  width: 100%;
  color: #0c0c0c;
  border-radius: 4px !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important; }

/* HEADER */
.back-button {
  display: block !important;
  color: #444;
  width: initial !important;
  min-width: initial !important; }

.back-text {
  display: none !important; }

/* LOAD WALLET */
.login-page {
  height: 100vh;
  background-color: #434F66;
  background-size: cover; }

.login-page .logo {
  width: 250px;
  margin-bottom: 60px;
  margin-top: 100px; }

.hero.no-header {
  height: 200px; }

.login-page select {
  /* make arrow and background */
  background: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  /* styling and reset */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  /*letter-spacing: .25rem;*/
  height: 40px;
  -webkit-appearance: none;
  border-radius: 0px;
  padding: 10px;
  /* reset */
  border-radius: 0;
  border: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; }

.login-page select:focus {
  background-image: linear-gradient(45deg, black 50%, transparent 50%), linear-gradient(135deg, transparent 50%, black 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0; }

.login-page .item-md-label input {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000; }

.login-page input::-webkit-input-placeholder {
  color: #000; }

.login-page input::-moz-placeholder {
  color: #000; }

.login-page input:-ms-input-placeholder {
  color: #000; }

.login-page input:-moz-placeholder {
  color: #000 !important; }

.login-page .item {
  width: auto; }

.login-page .fileUpload input.upload {
  padding: 10px 16px; }

.fileUpload {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  border: 0px;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

/* BALANCE */
.logo-balance {
  position: absolute;
  top: 50px;
  width: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block; }

.page-balance .item-avatar {
  padding-left: 60px !important; }

.page-balance .item-avatar img {
  border-radius: 0px !important;
  left: 0px !important; }

.page-balance h2 {
  font-size: 22px; }

.page-balance h2 .mosaic-name {
  font-size: 18px;
  font-weight: 200; }

.page-balance .view-transactions a {
  font-size: 18px;
  color: #fff;
  text-decoration: underline; }

.no-assets-yet {
  margin-top: 40px;
  margin-bottom: 20px; }

.button-bottom-container {
  position: absolute;
  bottom: 0px;
  width: 100%; }

.button-position {
  float: right;
  margin-right: 18px;
  margin-bottom: 18px; }

.button-position .button {
  font-size: 50px; }

/* TRANSFER */
.page-transfer select {
  font-size: 16px; }

/* TRANSFER CONFIRM */
/* ACCOUNT */
#accountInfoQR {
  display: block;
  margin: 0 auto; }

#accountInfoQR img {
  margin: 0 auto;
  display: block; }

/* TRANSACTIONS */
.transactions-page {
  background-color: #fff; }

.transactions-page h2 {
  display: inherit;
  font-size: 22px; }

/*
.transactions-page .send-card h2 {
  color: $transationsent;
}
*/
.transactions-page h2:before {
  content: '+'; }

.transactions-page .send-card h2:before {
  content: '-'; }

.transaction-row {
  cursor: pointer;
  outline: 0;
  margin-bottom: 0;
  table-layout: fixed;
  min-height: 48px;
  width: 100%; }

.transaction-row td {
  width: 100%; }

.transaction-row .mosaic-name {
  font-weight: 200;
  font-size: 18px; }

.transaction-row .address {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap; }

.transaction-row .address .text {
  width: 100%;
  overflow-x: scroll; }

/* Register Page */
.register-page {
  padding-bottom: 80px; }

.register-page .bg-info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 8px;
  padding-left: 30px;
  padding-right: 30px; }

.tab-nav.tabs {
  left: 0px;
  position: fixed;
  bottom: 0px; }

.tabs-nem > .tabs {
  border-color: #434F66 !important;
  background-color: #434F66 !important;
  background-image: linear-gradient(0deg, #434F66, #434F66 50%, transparent 50%) !important; }
